body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 0px 150px 0px 150px;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:900;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px 50px 150px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;

}

.sign-up-button {
    color: white;
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
}

.hero-left {
    flex: 1;
}
.hero-image{
    flex: 1;
    width: 300px;
    height: auto;
}



.information {
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-direction: column;

}
.info-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.information-images {
    display: flex;
    justify-content: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px 150px 50px 150px;

}

.info-image-subtext {
    margin: 30px;
}

.subtext {
    color: #1F2937;
    text-align : center;
}


.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;

}
.quote-text {
    padding: 50px 150px 0px 150px;
    text-align: justify;
    text-justify: inter-word;
}
.signature {
    display: flex;
    font-weight: 900;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;    font-size: 24px;
    justify-content: end;
    padding: 0px 150px 50px 150px;
    color: black;
}

/*ACTION*/


.action {
    display: flex;
    margin: 100px 200px;
    padding: 50px;
    background-color: #3882F6;
    font-size: 24px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

.action-sign-up-button {
    display: flex;
    width: 120px;
    height: 40px;
    padding: 5px 25px 5px 25px;
    border: white;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 12px;
}

.button-section {
    margin-left: auto;
    padding: 15px;

}